<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
    </head>
    <body>    
        <center>
            <div class='cont'>
                <h2>WELCOME<br> TO CAT-DOG PREDICTION</h2>
            </div>
            

            <form action="/predict" method="post" enctype="multipart/form-data">
                <input type="file" name="image">
                <input type="submit" value="Predict">
            </form>
            <br>
            <img src="{{ image_url }}" alt="Predicted Image">

    </center>

    </body>
</html>